<header id="header">
    <a href="/" class="logo" style="font-family:KGManhattanScript, Helvetica, Arial, sans-serif"><strong>Non Reluctant
            Conversationalist</strong></a>
    <ul class="icons">
        <li><a href="https://scholar.google.com/citations?hl=en&user=L4iAWfIAAAAJ&view_op=list_works&sortby=pubdate"
                class="ai ai-google-scholar-square ai-2x"></a></li>
        <li><a href="https://www.researchgate.net/profile/Ashwinkumar_Ganesan"
                class="ai ai-researchgate-square ai-2x"></a></li>
        <li><a href="https://www.semanticscholar.org/author/Ashwinkumar-Ganesan/2116290"
                class="ai ai-semantic-scholar-square ai-2x"></a></li>
        <li><a href="https://github.com/codehacken" class="fab fa-github-square fa-2x"></a></li>
        <li><a href="https://twitter.com/codehacken" class="fab fa-twitter fa-2x"></a></li>
        <li><a href="https://www.linkedin.com/in/gashwin/" class="fab fa-linkedin fa-2x"></a></li>
        <li><a href="https://medium.com/@codehacken" class="fab fa-medium-m fa-2x"></a></li>
    </ul>
</header>