<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/#ee">Education & Experience</a></li>
                <li><a href="/assets/files/ashwin_cv.pdf">Curriculum Vitae</a></li>
                <li><a href="/#publications">Publications</a></li>
                <li><a href="https://medium.com/@codehacken">My Musings</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Contact</h2>
            </header>

            <ul class="contact">
                <li class="fa fa-user"> <strong>Ashwinkumar Ganesan</strong><br>
                    University Of Maryland, Baltimore County (UMBC)</br></li>
                <li class="icon solid fa-envelope" aria-hidden="true"><a href="#">codehacken@gmail.com</a></li>
                <li class="icon solid fa-home"><a href="https://maps.app.goo.gl/R2vAyp8btscXKQw26"> Amazon HQ2<br></a>
                </li>
                <li><img src="/assets/images/qrcode.png" alt="" style="width:40%;height:40%;" /></li>
            </ul>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Ashwinkumar Ganesan.
                <br>All rights reserved.<br>
                Adapted from: <a href="https://html5up.net">HTML5 UP</a> and inspired by <a
                    href="http://www.patrickcarrington.com/index.html">Patrick Carrington</a>.
            </p>
        </footer>
    </div>
</div>